Requirements so far:

Anaconda
 (using verbose list here due to miniconda installation used in continuous integration testing)

conda install basemap
conda install h5py
conda install pandas

conda install --channel https://conda.anaconda.org/jochym natgrid



Natgrid is a requirement for the visualisations. There is no MacOS conda install for it. 
- run git submodule update --init --recursive
- activate your bccn_programming source in conda
- go to the natgrid folder
- run python setup.py install
- do this only once!


